body {
    background-color: #51d38e;
    color: #0d7f68;
}


body.dark {
    background-color: #222;
    color: #f4f4f4;
}


nav {
    display: flex;
    background-color: #ff0019;
    padding: 10px;
    border-radius: 10px;
}

nav a {
    color: rgb(4, 79, 97);
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #276964;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 600px;
    background-color: rgb(121, 218, 195);
    padding: 20px;
    border-radius: 10px;
}

body.dark section {
    background-color: #333;
}

button {
    background-color: #aaff00;
    color: rgb(13, 127, 28);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #00ff2f;
}


form {
    display: flex;
}

input {
    padding: 10px;
    border: 2px solid #194348;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 20px;
}